/* .cardclass{ */
/* display: 'flexbox'; */
/* justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    padding: 70px;
    max-width: 350px; */
    /* display: 'flex'; */
    /* flex:3; */
/* }  */
/* style={{ display: 'flex', flexDirection: 'row', flexWrap: 'wrap', marginTop: '20px' ,justifyContent:'space-between',flexFlow:3}} */